@charset 'UTF-8';
.container{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.item{
  width: 25%;
  padding:30px 0px;
  text-align: center;
  border:1px solid black;
  box-sizing: border-box;
  background-color: chocolate;
}